<div>

 <form class="myForm" [formGroup]="fruitForm" (ngSubmit)="submitForm()">

      <label>Name</label>
      <input type="text" formControlName="name" class="form-control">



      <label>Color</label>
      <input type="text" formControlName="color" class="form-control">



      <label>Size</label>
      <select (change)="changeSize($event)" formControlName="size">
        <option *ngFor="let size of sizes" [ngValue]="size">{{size}}</option>
      </select>


    <button type="submit">Submit</button>

  </form>

</div>
